@tailwind base;
@tailwind components;
@tailwind utilities;

.subtitle {
  @apply font-semibold text-xl my-3;
}

.categories_list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.categories_list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
